.App {
  min-height: 100vh;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
//  Utilites
.is-hidden-desktop {
  display: none;
}
.is-hidden-tablet {
  display: none;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
//Header styles
.global-header {
  &-navbar__nav {
    font-size: 1.7rem;
  }
}
a.navbar-brand {
  img.global-header-navbar__brand {
    height: 4rem;
    width: auto;
  }
}
// Footer Styles
.global-footer__separator.is-hidden-desktop {
  @media (max-width: 910px) {
    display: block;
  }
}
.global-footer__separator.is-hidden-tablet {
  @media (max-width: 544px) {
    display: block;
  }
}
.global-footer {
  background-color: #61dafb;
  padding: 3.2rem 0;
  &-layout {
    max-width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  &__separator {
    background-color: #262626;
    border: none;
    height: 2px;
    margin: 0 auto;
    padding: 0;
    // width: 100%;
  }
  &-stats {
    text-align: center;
    padding-left: 3.2rem;

    @media (max-width: 910px) {
      padding-left: 0;
      text-align: left;
    }
    &__logo {
      width: auto;
      height: 2rem;
    }
    &__list {
      display: flex;
      &-item {
        font-weight: bold;
        font-size: 2rem;
        &:not(:first-of-type) {
          padding-left: 1.25rem;
        }
      }
    }
  }
  &__container {
    display: flex;
    padding: 3rem 1rem 1rem;
    a {
      @media (max-width: 544px) {
        order: 2;
        text-align: center;
      }
    }
    .global-footer-info-links {
      width: 100%;
      @media (max-width: 910px) {
      }
      &__list {
        display: flex;
        // @media (max-width: 458px) {
        //   flex-direction: column;
        // }
        &-item {
          &:not(:first-of-type) {
            padding-left: 5rem;
            @media (max-width: 910px) {
              padding-left: 2rem;
            }
            // @media (max-width: 458px) {
            //   padding-left: 0;
            // }
          }
          .global-footer-sublist {
            &__item-title {
              font-weight: bold;
              font-size: 2rem;
            }
          }
        }
      }
    }

    .global-footer-company-links {
      &__logo {
        height: 5rem;
        width: auto;
        margin-right: 2rem;
        @media (max-width: 544px) {
          order: 1;
          text-align: center;
        }
      }
      &__copyright {
        font-size: 1.1rem;
      }
      &__list {
        @media (max-width: 544px) {
          text-align: center;
          width: 100%;
        }
        &-item {
          display: inline-block;
          &:not(:first-of-type) {
            padding-left: 0.75rem;
          }
        }
      }
      @media (max-width: 544px) {
        order: 1;
      }
    }
    .global-footer-social {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      &__list {
        &-item {
          display: inline-block;
          font-size: 2.5rem;
          &:not(:first-of-type) {
            padding-left: 0.25rem;
          }
        }
      }
      @media (max-width: 544px) {
        width: auto;
        justify-content: center;
        order: 3;
      }
    }
    @media (max-width: 910px) {
      &:first-of-type {
        flex-direction: column-reverse;
      }
      padding: 1rem 0 1rem;
    }
    @media (max-width: 544px) {
      &:last-of-type {
        flex-direction: column-reverse;
      }
    }
  }
}
// Dropdown menu styles
.dropdown-menu {
  height: 50rem;
  width: 90rem;
  right: 0px;
  box-shadow: 0 0 4px rgba(rgb(158, 156, 156), 0.4);
}
//override dropdown position
.dropdown {
  position: unset !important;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: gray;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
