.cb-slideshow,
.cb-slideshow:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  z-index: 0;
}
.cb-slideshow:after {
  content: "";
  background: linear-gradient(
      181.3deg,
      rgba(134, 15, 15, 0.5) 24.9%,
      rgba(183, 10, 10, 0.5) 46.9%,
      rgba(210, 70, 0, 0.5) 85.1%
    )
    repeat top left;
}
.cb-slideshow li span {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: 0;
  animation: imageAnimation 36s linear infinite 0s;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url("./assets/images/dog-in-hoodie.jpg");
}
.cb-slideshow li:nth-child(2) span {
  background-image: url("./assets/images/honey-yanibel-minaya-cruz-q0r3xKBNGcQ-unsplash.jpg");
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) span {
  background-image: url("./assets/images/shoes.jpg");
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) span {
  background-image: url("./assets/images/willspirit-sbln-9MRRM_hV4qA-unsplash.jpg");
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) span {
  background-image: url("./assets/images/max-andrey-Z6T3R9OndIU-unsplash.jpg");
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) span {
  background-image: url("./assets/images/jonathan-borba-ynL2cZanXRo-unsplash.jpg");
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}
.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}
.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}
.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}
.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}
@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }
  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.no-cssanimations .cb-slideshow li span {
  opacity: 1;
}

.App {
  min-height: 100vh;
}

//  Utilites
.is-hidden-desktop {
  display: none;
}
.is-hidden-tablet {
  display: none;
}
.row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}
.navbar {
  transition: all 0.6s ease-in-out;
}
.navbar.sticky {
  background-color: red !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.5);
}
.navbar-nav .nav-item:not(:last-of-type) {
  margin-right: 2rem;
}
.nav-link {
  color: #fff !important;
}

// Footer Styles
.global-footer__separator.is-hidden-desktop {
  @media (max-width: 910px) {
    display: block;
  }
}
.global-footer__separator.is-hidden-tablet {
  @media (max-width: 544px) {
    display: block;
  }
}
.global-footer {
  background-color: #7a8381;
  padding: 3.2rem 0;
  &-layout {
    max-width: 1408px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
  }

  &__separator {
    background-color: #262626;
    border: none;
    height: 2px;
    margin: 0 auto;
    padding: 0;
    // width: 100%;
  }
  &-stats {
    text-align: center;
    padding-left: 3.2rem;

    @media (max-width: 910px) {
      padding-left: 0;
      text-align: left;
    }
    &__logo {
      width: auto;
      height: 2rem;
    }
    &__list {
      display: flex;
      &-item {
        font-weight: bold;
        font-size: 2rem;
        &:not(:first-of-type) {
          padding-left: 1.25rem;
        }
      }
    }
  }
  &__container {
    display: flex;
    padding: 3rem 1rem 1rem;
    a {
      @media (max-width: 544px) {
        order: 2;
        text-align: center;
      }
    }
    .global-footer-info-links {
      width: 100%;
      @media (max-width: 910px) {
      }
      &__list {
        display: flex;
        // @media (max-width: 458px) {
        //   flex-direction: column;
        // }
        &-item {
          &:not(:first-of-type) {
            padding-left: 5rem;
            @media (max-width: 910px) {
              padding-left: 2rem;
            }
            // @media (max-width: 458px) {
            //   padding-left: 0;
            // }
          }
          .global-footer-sublist {
            &__item-title {
              font-weight: bold;
              font-size: 2rem;
            }
          }
        }
      }
    }

    .global-footer-company-links {
      &__logo {
        height: 5rem;
        width: auto;
        margin-right: 2rem;
        @media (max-width: 544px) {
          order: 1;
          text-align: center;
        }
      }
      &__copyright {
        font-size: 1.1rem;
      }
      &__list {
        @media (max-width: 544px) {
          text-align: center;
          width: 100%;
        }
        &-item {
          display: inline-block;
          &:not(:first-of-type) {
            padding-left: 0.75rem;
          }
        }
      }
      @media (max-width: 544px) {
        order: 1;
      }
    }
    .global-footer-social {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      &__list {
        &-item {
          display: inline-block;
          font-size: 2.5rem;
          &:not(:first-of-type) {
            padding-left: 0.25rem;
          }
        }
      }
      @media (max-width: 544px) {
        width: auto;
        justify-content: center;
        order: 3;
      }
    }
    @media (max-width: 910px) {
      &:first-of-type {
        flex-direction: column-reverse;
      }
      padding: 1rem 0 1rem;
    }
    @media (max-width: 544px) {
      &:last-of-type {
        flex-direction: column-reverse;
      }
    }
  }
}
.col-sm-6 a,
.col-sm-12 a {
  display: block;
  margin-bottom: 1.5rem;
  transition: all 0.3s;
}
.hover:hover {
  transform: scale(1.03);
} // Dropdown menu styles
.dropdown-menu {
  height: 50rem;
  width: 90rem;
  right: 0px;
  box-shadow: 0 0 4px rgba(rgb(158, 156, 156), 0.4);
}
//override dropdown position
.dropdown {
  position: unset !important;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
    color: gray;
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
    position: absolute;
    top: 5rem;
    left: 0;
    margin-left: auto;
    margin-right: auto;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
